---
layout: default
permalink: /categories/
title: Categories
---

<div class="article">
   <div class="well">
	{% for category in site.categories %}
	<div class="archive-group">
		{% capture category_name %}{{ category | first }}{% endcapture %}
		<div id="#{{ category_name | slugize }}"></div>
		<p></p>

		<h1>{{ category_name }}</h1>
		<a name="{{ category_name | slugize }}"></a>
		{% for post in site.categories[category_name] %}
		<article class="archive-item">
		   <ul>
		   <li> {{ post.date | date: "%Y-%m-%d" }} - <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
		   </ul>
		</article>
		{% endfor %}
	</div>
	{% endfor %}
   </div>
</div>
