<h1>Project Progress</h1>
<div>
<table class="tables">
	<tr>
		<th>Maintainer</th>
		<th>Project</th>
		<th>Description</th>
		<th>Operating System</th>
		<th>Status</th>
	</tr>
	<tr>
		<td>Pray3r</td>
		<td>Kernel-HD</td>
		<td>Against code reuse, heap spraying attacks.</td>
		<td>Linux/Android</td>
		<td>Longterm</td>
	</tr>
	<tr>
		<td>Pray3r</td>
		<td>Kubernetes-HD</td>
		<td>Hardened Cloud-Native 'Operating System'.</td>
		<td>/</td>
		<td>Startup</td>
	</tr>
	<tr>
		<td>Pray3r</td>
		<td>Kernel Exploitation</td>
		<td>Offensive research</td>
		<td>Linux/Android</td>
		<td>Longterm</td>
	</tr>
</table>
</div>
